.Character__container .card{
    padding: 20px;
    margin: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:cornsilk;
}